[web]
push_ssl        = false
allow_archive   =
allowbz2        = false
allowgz         = false
allowzip        = false
descend         = true
collapse        = true
description     = Mercurial Repositories
encoding        = UTF-8
style           = paper
prefix          = /guestappname

[paths]
/               = /mercurial/repositories/*
