[web]
allow_archive   =
allowbz2        = false
allowgz         = false
allowzip        = false
archivesubrepos = false
collapse        = true
descend         = true
description     = Mercurial Repository
push_ssl        = false
style           = paper

[paths]
/               = /mercurial/repositories/*
